################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WPFImageViewer/v15
/WPFImageViewer/obj
/WPFImageViewer/bin/Debug
/WPFImageViewer/bin/Release
/WPFImageViewer/bin/x64/Debug
/WPFImageViewer/bin/x64/Release/WPFImageViewer.exe.config
/WPFImageViewer/bin/x64/Release/WPFImageViewer.pdb
/WPFImageViewer/bin/x64/Release/WPFImgConfig.xml
